.Weather {
  border: 4px solid #113f67;
  border-radius: 30px;
  padding: 15px;
  margin: 20px;
}
ul {
  list-style: none;
}
h1 {
  color: #113f67;
  margin-top: 20px;
  text-align: center;
}

.formSearch {
  border: 2px solid #113f67;
  border-radius: 15px;
}


